
main {
    background-image: url('../assets/react-logo-half.png') ;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 75%;
}


h1 {
    margin-top: 3rem;
    color: white;
    display: flex;
}


ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;
    max-width: 30rem;
}

li {
    color: white;
    left: 0;
}

li::marker{
    color: #61DBFB;
    font-size: 1.5rem;
}